<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food Hub</title>
</head>

<body data-foodHubID="<%= foodHub.foodHubID %>" data-foodhub-name="<%= foodHub.name %>" data-ws-address="<%= PRIVATE_IP_WS_ADDRESS %>">
    <h2>
        <%= foodHub.name %>
    </h2>
    <h4>Address:
        <%= foodHub.location.address %>
    </h4>

    <div id="status"></div>
    <div id="wslog"></div>
    <h3>Currently active offers:</h3>
    <div id="nearestOffers"></div>

    <br>
    <br>
    <br>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let body = document.getElementsByTagName('body')[0];
            let nearestOffers = document.getElementById('nearestOffers');

            console.log(body.dataset.wsAddress);
            var status = document.getElementById('status');

            // if user is running mozilla then use it's built-in WebSocket
            window.WebSocket = window.WebSocket || window.MozWebSocket;
            var connection = new WebSocket(body.dataset.wsAddress);

            // When the websocket connection opens
            connection.onopen = function () {
                // Connection is opened and ready to use
                status.innerHTML = 'Websocket connection has been established';
                connection.send(JSON.stringify({
                    type: "create-wsclient",
                    clientName: body.dataset.foodhubid,
                }));

                // Fetch all nearby offers
                connection.send(JSON.stringify({
                    type: "fetch-offers",
                    clientName: body.dataset.foodhubid,
                }));
            }

            connection.onmessage = function (message) {
                // Decipher the secret message
                let parsedData = JSON.parse(message.data);
                console.log(parsedData);
                if (parsedData.type === "receive-offers") {
                    parsedData.nearestOffers.forEach(offer => {
                        let offerDiv = document.createElement('div');
                        offerDiv.id = offer.offerID;
                        let htmlContent = `
                            <h4>Offer ID: ${offer.offerID}</h4>
                            <p> 
                                <b>Created at: </b> ${offer.createdAt} | 
                                <b>By: </b> ${offer.user.local.username}.
                                <br />
                                <b>Address: </b> ${offer.location.address}.
                                <br />
                                <b>Description: </b> ${offer.description}.
                            </p>
                            <img src="${offer.photos[0]}">
                        `;

                        offer.items.forEach((item) => {
                            htmlContent += `
                                <p>
                                    <b> ${item.name} </b>, ${item.serving}, ${item.veg}.
                                </p>
                            `;
                        });

                        htmlContent += `
                            <div><b>Status: </b> ${offer.status}</div> <br />
                            <button type="submit" id="button-${offer.offerID}" data-offer-id="${offer.offerID}" data-username="${offer.user.local.username}">Accept the Offer</button>
                        `;
                        offerDiv.innerHTML = htmlContent;
                        nearestOffers.appendChild(offerDiv);

                        let acceptOfferButton = document.getElementById(`button-${offer.offerID}`);
                        acceptOfferButton.addEventListener('click', function (event) {
                            connection.send(JSON.stringify({
                                type: "accept-offer",
                                offerID: `${offer.offerID}`,
                                foodHubID: body.dataset.foodhubid,
                                foodHubName: body.dataset.foodhubName,
                                username: `${offer.user.local.username}`

                            }));

                            let qrCodeDiv = document.createElement('div');
                            qrCodeDiv.id = `qrCode-${offer.offerID}`;
                            qrCodeDiv.style.width = "200px";
                            qrCodeDiv.style.height = "200px";

                            let assignAgentButton = document.createElement('button');
                            assignAgentButton.id = `assignAgent-${offer.offerID}`;
                            assignAgentButton.innerHTML = `Assign an Agent`;
                            assignAgentButton.dataset.offerid = `${offer.offerID}`;
                            assignAgentButton.dataset.username = `${offer.user.local.username}`;

                            assignAgentButton.addEventListener('click', assignAgentButtonClickHandler, false);

                            offerDiv.appendChild(assignAgentButton)
                            offerDiv.appendChild(qrCodeDiv)

                        }, false)
                    });
                }

                if (parsedData.type === "render-qrcode") {
                    console.log("SVG String: ", parsedData.offerID);
                    let qrDiv = document.getElementById(`qrCode-${parsedData.offerID}`);
                    console.log(qrDiv);
                    qrDiv.innerHTML = parsedData.svgString;
                }
            }

            function assignAgentButtonClickHandler(event) {
                console.log("Assign Agent Button Clicked")
                connection.send(JSON.stringify({
                    type: "assign-agent",
                    offerID: event.target.dataset.offerid,
                    username: event.target.dataset.username,
                    foodHubID: body.dataset.foodhubid,
                    foodHubName: body.dataset.foodhubName,
                }));
            }
        }, false);


    </script>
</body>

</html>